/* CONTENIDO */
#contenido {
    max-width: 100%; 
    margin: 0 auto;
    display: flex;
    width: 1700px;
    margin: 0px auto;
    height: auto;
    background-color: var(--gris-clarito);
}


#izquierda {
    width: 500px;
    float: left;
    margin: 20px;
}

h3 {
    text-align: center;
    text-shadow: 2px -1px 8px var(--morado);
}
.partidos {
    display: flex;
    flex-direction: column;
    background-color: var(--morado);
    margin: 10px 0px;
    flex-wrap: wrap;
}

.partido {
    background-color: var(--gris-clarito);
    margin: 5px 10px;
    text-align: center;
}

.partido:first-child {
    margin-top: 10px;
}

.partido:last-child {
    margin-bottom: 10px; /
}

.partido p {
    margin: 2.2px;
    font-size: 15.5px;
    color: var(--gris-oscuro);
    font-weight: bold;
}

#derecha {
    width: 500px;
    float: right;
    margin: 20px;
}

.ultima-hora {
    display: flex;
    flex-direction: column;
    background-color: var(--morado);
    margin: 10px;
    flex-wrap: wrap;
}
.ult-hora {
    background-color: var(--gris-clarito);
    margin: 7.5px;
    text-align: center;
}
.ult-hora h4 {
    padding: 3px;
}

.ult-hora p {
    padding: 3px;
    text-align: left;
    margin: 8.5px 5px;
    font-size: 15.5px;
    color: var(--gris-oscuro);
    font-weight: bold;
}

.relleno {
    background-color: var(--gris-clarito);
    padding: 5px;
}

#formulario {
    display: flex;
    flex-direction: column;
    margin: 53px 90px;
    background-color: var(--gris-claro);
    border: 3px solid var(--gris-oscuro);
    min-width: 60%;
}

#formulario h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--gris-oscuro);
    text-shadow: 2px 5px 7px rgba(0,0,0,0.32);
    padding-top: 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #ffffff80;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
}

form label {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--gris-oscuro);
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    min-width: 100px;
    padding: 2px 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="reset"],
input[type="submit"] {
    background-color: var(--morado);
    color: #fff;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    min-width: 100px;
}

input[type="reset"] {
    background-color: #ccc;
    color: #333;
}

textarea {
    resize: vertical; 
}

#pie-pagina {
    width: 100%;
    background-color: var(--morado);
    text-align: center; 
    padding: 12px 0;
    box-sizing: border-box; 
    color: white;
}
