/* CONTENIDO */
.cabecera>.icon{
    color: white
}
#noticias .noticia {
    position: relative; 
}

#noticias .noticia .tipo {
    position: absolute;
    width: 100px;
    display: inline-block;
    text-align: center;
    top: 6px;
    right: 7px;
    background-color: var(--morado);
    padding: 3px;
    border: 1px solid var(--gris-oscuro);
}

#noticias .noticia .tipo a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#noticias .noticia .tipo:hover{
    background-color: var(--gris-oscuro);
}
#noticias .noticia .tipo a:hover {
    color: var(--morado);
}


#contenido {
    max-width: 100%; 
    margin: 0 auto;
    display: flex;
    width: 1700px;
    margin: 0px auto;
    height: auto;
    background-color: var(--gris-clarito);
}

h3 {
    text-align: center;
    text-shadow: 2px -1px 8px var(--morado);
}
#izquierda {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin: 20px 40px;
}
.partidos {
    display: flex;
    flex-direction: column;
    background-color: var(--morado);
    margin: 10px 0px;
    flex-wrap: wrap;
}

.partido {
    background-color: var(--gris-clarito);
    margin: 5px 10px;
    text-align: center;
    padding: 5px;
}

.partido:first-child {
    margin-top: 10px;
}

.partido:last-child {
    margin-bottom: 10px; /
}

.partido p {
    margin: 2.2px;
    font-size: 15.5px;
    color: var(--gris-oscuro);
    font-weight: bold;
}
table {
    display: flex;
    flex-direction: column;
    background-color: var(--morado);
    margin: 10px 0px;
    flex-wrap: wrap;
    border: 4px solid var(--morado);
}
table tr{
    background-color: var(--gris-clarito);
}

table tr th{
    border: 4px solid var(--morado);
    padding: 10px;
    font-size: 17px;    
}

table tr td{
    border: 4px solid var(--morado);
    padding: 10px;
}

#derecha {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px 40px;
}

#derecha .arriba {
    background-color: var(--gris-clarito);
    margin: 5px 10px;
    text-align: center;
}

.relleno {
    background-color: var(--gris-clarito);
    padding: 5px;
}

#noticias h1{
    font-size: 70px;
    letter-spacing: 10px;
    color: var(--gris-oscuro);
    text-align: center;
    margin-bottom: 50px;
}

#noticias {
    display: flex;
    flex-direction: column;
    margin: 53px 0px;
}
#noticias .noticia h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

#noticias .noticia h2 a{
    color: var(--gris-oscuro);
    text-shadow: 2px 5px 7px rgba(0,0,0,0.32);
}

#noticias .noticia {
    padding: 35px;
    margin-bottom: 50px;
    justify-content: center;
    align-self: center;
    width: 80%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: -2px 0px 21px 0px var(--morado);
    -webkit-box-shadow: -2px 0px 21px 0px var(--morado);
    -moz-box-shadow: -2px 0px 21px 0px var(--morado);
    background-color: var(--gris-claro);
}

.noticia p{
    margin-top: 25px;
    font-size: 17px;
    color: var(--gris-oscuro);
    font-weight: bold;
    text-align: justify;
}

#pie-pagina {
    width: 100%;
    background-color: var(--morado);
    text-align: center; 
    padding: 12px 0;
    box-sizing: border-box;
    color: white; 
}
